body {
  background-color: darksalmon;
}
.character {
  background-color: aquamarine;
}
.comments {
  background-color: cornflowerblue;
  height: 300px;
}
.commentContainer {
  height: 70px;
  background-color: brown;
}
.comment {
  background-color: antiquewhite;
}
.tag {
  background-color: blueviolet;
  border: solid 2px black;
}
.author {
  background-color: chartreuse;
}
