@media (min-width: 768px) {
  body {
    background-color: rgb(128, 68, 68);
    font-family: 'Changa';
  }
  a {
    text-decoration: none;
    color: black;
  }
  .newPosts__container {
    max-width: 900px;
    margin: auto;
  }
  img {
    width: 50%;
  }
  /*----------------news posts----------------------*/
  .newPosts__container {
    display: grid;
    grid-template-columns: auto auto;
  }
  .cardHeader {
    display: flex;
    justify-content: space-evenly;
  }
  .headerText {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .textContainer {
    margin: auto;
    width: 92%;
  }
  .newCard_0 {
    box-sizing: border-box;
    background-color: whitesmoke;
    width: 337px;
    margin: auto;
    margin-bottom: 10px;
    padding: 4px;
    border: solid 1px #59e80c;
  }
  .newCard_1 {
    box-sizing: border-box;
    background-color: whitesmoke;
    width: 337px;
    margin: auto;
    margin-bottom: 10px;
    padding: 4px;
    border: solid 1px #59e80c;
  }
  .newCard_2 {
    grid-column: 2/3;
    box-sizing: border-box;
    background-color: whitesmoke;
    width: 337px;
    margin: auto;
    margin-bottom: 10px;
    padding: 4px;
    border: solid 1px #59e80c;
  }
  .newText {
    color: #59e80c;
  }
  /*----------------olds posts----------------------*/
  a {
  }
  .oldPosts__container {
    display: flex;
    flex-wrap: wrap;
  }
  .oldCard {
    background-color: whitesmoke;
    height: 210px;
    width: 337px;
    padding: 4px;
    margin-bottom: 10px;
    border: solid 1px #7874df;
  }
}
